:root {
  --primary-color: #fff;
  --secondary-color: #A14444;
  --background-color: #7D3333;
  --linear-color: #785B5B;
}

.pop-up {
  position: absolute;
  top: 33%;
  width: 70vw;
  height: 27vh;
  padding: 12px;
  border-radius: 20px;
  background: rgb(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  box-shadow: 6px 6px #000;
  border: 2px solid #fff;
  opacity: 0;
  animation: slideInFromLeft 0.7s ease forwards;
}
  
.pop-up-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 95%;
  top: 3%;
}

select {
  font-size: 1.2rem;
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  box-shadow: 4px 4px #000;
}

.task-textbox {
  position: relative;
  width: 78%;
  font-size: 1.2rem;
  padding: 15px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: var(--secondary-color);
  box-shadow: 4px 4px #000;
  text-align: center;
}


button, input, option {
  border: none;
  transition: transform 0.2s ease;
}

button:hover, select:hover, option:hover {
  transform: scale(1.05);
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 4em;
  top: 12%;
  right: 5%;
  width: 50px;
  height: 50px;
  padding-bottom: 17px;
  border-radius: 50%;
  background-color: #DF6B6B;
  border: 2px solid var(--primary-color);
  box-shadow: 3px 3px #000;
  cursor: pointer;
}

@media (min-width: 481px) and (max-width: 600px) {
  .pop-up {
    top: 34%;
    width: 75vw;
    height: 27vh;
    padding: 12px;
  }
    
  .pop-up-container {
    gap: 15px;
    width: 95%;
    top: 2%;
  }
  
  select {
    font-size: 1.2rem;
    width: 100%;
    height: 45px;
    padding: 10px;
  }
  
  .task-textbox {
    width: 78%;
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px 0;
  }
  
  .add-button {
    font-size: 4em;
    top: 12%;
    right: 7%;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .pop-up {
    top: 35%;
    width: 70vw;
    height: 27vh;
    padding: 12px;
  }
    
  .pop-up-container {
    gap: 15px;
    width: 95%;
    top: 2%;
  }
  
  select {
    font-size: 1.2rem;
    width: 100%;
    height: 45px;
    padding: 10px;
  }
  
  .task-textbox {
    width: 78%;
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px 0;
  }
  
  .add-button {
    font-size: 4em;
    top: 12%;
    right: 7%;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .pop-up {
    top: 33%;
    width: 50vw;
    height: 27vh;
    padding: 12px;
  }
    
  .pop-up-container {
    gap: 15px;
    width: 95%;
    top: 2%;
  }
  
  select {
    font-size: 1.2rem;
    width: 100%;
    height: 45px;
    padding: 10px;
  }
  
  .task-textbox {
    width: 78%;
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px 0;
  }
  
  .add-button {
    font-size: 4em;
    top: 12%;
    right: 7%;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .pop-up {
    top: 33%;
    width: 40vw;
    height: 27vh;
    padding: 12px;
  }
    
  .pop-up-container {
    gap: 15px;
    width: 95%;
    top: 2%;
  }
  
  select {
    font-size: 1.2rem;
    width: 100%;
    height: 45px;
    padding: 10px;
  }
  
  .task-textbox {
    width: 78%;
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px 0;
  }
  
  .add-button {
    font-size: 4em;
    top: 12%;
    right: 7%;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .pop-up {
    top: 14%;
    right: 2%;
    width: 27vw;
    height: 27vh;
    padding: 12px;
  }
    
  .pop-up-container {
    gap: 15px;
    width: 95%;
    top: 2%;
  }
  
  select {
    font-size: 1.2rem;
    width: 100%;
    height: 45px;
    padding: 10px;
  }
  
  .task-textbox {
    width: 78%;
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px 0;
  }
  
  .add-button {
    font-size: 4em;
    top: 12%;
    right: 7%;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1441px) {
  .pop-up {
    top: 12%;
    right: 5%;
    width: 27vw;
    height: 25vh;
    padding: 12px;
  }
    
  .pop-up-container {
    gap: 15px;
    width: 95%;
    top: 2%;
  }
  
  select {
    font-size: 1.2rem;
    width: 100%;
    height: 45px;
    padding: 10px;
  }
  
  .task-textbox {
    width: 78%;
    font-size: 1.2rem;
    padding: 15px;
    margin: 10px 0;
  }
  
  .add-button {
    font-size: 4em;
    top: 12%;
    right: 7%;
    width: 50px;
    height: 50px;
    padding-bottom: 20px;
  }
}