.view-container {
  display: flex;
  position: relative;
  top: 2%;
  left: 12%;
  width: 75%;
}

.view-container button {
  font-size: 1rem;
  font-weight: 800;
  margin: 0 10px;
  padding: 3px;
  width: 100px;
  border-radius: 20px;
  background-color: transparent;
  border: var(--border);
  cursor: pointer;
  transition: 
    background-color 0.3s ease, 
    color 0.3s ease, 
    transform 0.3s ease, 
    box-shadow 0.3s ease;
}

.view-container button.to-do-view {
  color: var(--secondary-color);
}

.view-container button.to-do-view.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.view-container button.completed-view {
  color: var(--secondary-color);
}

.view-container button.completed-view.active {
  background-color: var(--completed-color);
  color: var(--primary-color);
}

.view-container button.to-do-view.completed-active {
  color: var(--completed-color);
}

.view-container button.to-do-view.completed-active:hover {
  color: var(--primary-color);
}

.view-container .to-do-view:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.view-container .completed-view:hover {
  color: var(--primary-color);
  background-color: var(--completed-color);
}

.view-container button:hover,
.view-container button:active {
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}