.view-container {
  display: flex;
  position: relative;
  top: 7%;
  left: 12%;
  width: 75%;
}

.view-container button {
  font-size: 1rem;
  font-weight: 800;
  margin: 0 10px;
  padding: 3px;
  width: 100px;
  color: #FF6767;
  border-radius: 20px;
  background-color: transparent;  
  border: 2px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-container button:hover,
.view-container button:active,
.view-container button.active {
  background-color: #DF6B6B;
  color: var(--primary-color);
  border: none;
}


@media (min-width: 481px) and (max-width: 600px) {
  .view-container button {
    font-size: 1rem;
    margin: 0 25px;
    width: 100px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .view-container button {
    font-size: 1.1rem;
    margin: 0 25px;
    width: 110px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .view-container button {
    font-size: 1.1rem;
    margin: 0 25px;
    width: 120px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .view-container button {
    font-size: 1.3rem;
    margin: 0 25px;
    width: 130px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .view-container button {
    font-size: 1.3rem;
    margin: 0 25px;
    width: 130px;
  }
}

@media (min-width: 1441px) {
  .view-container button {
    font-size: 1.5rem;
    margin: 0 25px;
    width: 130px;
  }
}


