
.help-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 998;
    transform: scale(1);
    overflow: hidden;
    animation: fadeInBackground 0.5s forwards;
}

.help-container.fade-in {
  animation: fadeOutBackground 0.5s forwards;
}

.help-header {
    position: relative;
    top: 2%;
    right: 32%;
    padding-bottom: 12px;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.help-header.completed-active {
    color: var(--completed-color);
}

.help-close-button {
    position: absolute;
    bottom:  95%;
    left: 89%;
    color: var(--close-button);
    font-size: 1.5rem;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.help-close-button:hover {
    transform: scale(1.2);
}

.help-content-container {
    position: relative;
    bottom: 1%;
    left: 0;
    width: 80%;
    height: 85%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 15px;
    overflow-y: scroll;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.help-content-container::-webkit-scrollbar {
    width: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;}

.help-content-container::-webkit-scrollbar-track {
    background: transparent;
}
.help-content-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}
.help-content-container::-webkit-scrollbar-thumb:hover {
    background-color: #f1f1f1;
}

.help-content-container.completed-active {
    background-color: var(--completed-color);
}

.help-description ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.help-description li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.help-description li strong {
    min-width: 80px;
    font-weight: bold;
}

.help-description li p {
    flex: 1;
    margin: 0;
    padding-left: 10px;
}

.help-description ul li img {
    width: 30%;
    height: auto;
    object-fit: contain;
}

.help-description h3{
    color: var(--primary-color);
}

.help-img {
    width: 50%;
    max-width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    margin: 10px 0;
}

.help-img-button {
    width: 15%;
    max-width: 15%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    margin: 10px 20px;
}

.help-sort-buttons ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.help-sort-img {
    width: 40px; 
    height: auto;
    object-fit: contain;
}

@media (min-width: 375px) {
    .help-close-button {
        bottom: 95%;
        left: 921;
    }
}

@media (min-width: 480px) {
    .help-close-button {
        bottom: 96%;
        left: 92%;
    }

    .help-header {
        right: 35%;
    }
}

@media (min-width: 768px) {
    .help-close-button {
        bottom: 96%;
        left: 95%;
    }

    .help-header {
        right: 37%;
    }
}

@media (min-width: 1024px) {
    .help-container {
        width: 40%;
        height: 90%;
        top: 5%;
        left: 25%;
        border-radius: 12px;
    }
    
    .help-content-container {
        bottom: 5%;
        height: 80%;
    }

    .help-close-button {
        display: none;
    }

    .help-header {
        top: 1%;
        right: 34%;
        font-size: 1.9rem;
    }
}

@media (min-width: 1280px) {
    .help-header {
        top: 0%;
        right: 34%;
        font-size: 2rem;
    }
}

@media (min-width: 1440px) {
    .help-header {
        padding-bottom: 20px;
    }
}

@media (min-width: 1920px) {
    .help-header {
        right: 36%;
        padding-bottom: 30px;
    }
}
