.sign-in-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInBackground 0.5s ease-in-out forwards;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 75vh;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--container-color);
  animation: slideInFromLeft 1s ease forwards;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  top: 3%;
}

.email-text,
.password-text {
  position: relative;
  bottom: 3%;
  left: 1%; 
  font-size: 1.1rem;
}

.username-textbox, .password-textbox {
  position: relative;
  width: 100%;
  font-size: 0.9rem;
  padding: 10px;
  margin: 10px 0;
  color: var(--tertiary-color);
  background-color: #EFEFEF;
  border: 1px solid #ccc; 
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.username-textbox::placeholder, 
.password-textbox::placeholder {
  color: #7A7A7A;
}

.username-textbox:focus, 
.password-textbox:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.3);
}

.username-textbox.error, 
.password-textbox.error {
  border: 1px solid #ff0000;
  animation: shake 0.3s ease-in-out;
}

.sign-in-button {
  position: relative;
  bottom: 5%;
  left: 20%;
  width: 50%;
  font-size: 0.9rem;
  padding: 12px;
  margin: 10px;
  border-radius: 12px;
  background-color: var(--secondary-color);
  transition: background-color 0.3s, transform 0.3s;
}

.sign-in-button:hover {
  transform: scale(1.05);
}

.toggle-sign-up, 
.forgot-password {
  position: relative;
  top: 8%;
  font-size: 0.9rem;
  color: #7A7A7A;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggle-sign-up::after, 
.forgot-password::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 3px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.toggle-sign-up:hover, 
.forgot-password:hover {
  color: var(--secondary-color);
}

.toggle-sign-up:hover::after, 
.forgot-password:hover::after {
  width: 100%;
  left: 50%;
}

h3 {
  position: relative;
  bottom: 5%;
  font-size: 1.7rem;
  color: var(--tertiary-color);
}

h4 {
  position: relative;
  bottom: 1%;
  font-size: 0.9rem;
  color: #7A7A7A;
}

.google-button {
  position: relative;
  bottom: 3%;
  width: 40%;
  height: auto;
  padding: 6px;
  background-color: var(--primary-color);
  border: var(--border);
  transition: background-color 0.3s, transform 0.3s;
}

.google-button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.g-button {
  width: 18px;
  height: 18px;
}

label {
  color: var(--tertiary-color);
}

.error-message {
  color: #ff0000;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 0.8rem;
  animation: shake 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.error-message.show {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 480px) {
  .sign-in-container {
    width: 70vw;
    height: 75vh;
    padding: 10px;
  }

  .sign-in-button {
    bottom: 5%;
    left: 27%;
    width: 40%;
    font-size: 1rem;
  }

  .google-button {
    bottom: 3%;
    width: 30%;
  }
}

@media (min-width: 768px) {
  .sign-in-container {
    width: 50vw;
    height: 75vh;
    padding: 10px;
  }

  .sign-in-button {
    bottom: 5%;
    left: 27%;
    width: 40%;
    font-size: 1rem;
  }

  .google-button {
    bottom: 7%;
    width: 30%;
  }

  h3 {
    bottom: 5%;
    font-size: 1.8rem;
  }

  h4 {
    bottom: 5%;
    font-size: 0.9rem;
  }
  
  .toggle-sign-up, 
  .forgot-password {
    top: 10%;
    font-size: 0.9rem;
  }

  form {
    width: 90%;
    top: 0%;
  }

  .email-text,
  .password-text {
    font-size: 1.2rem;
  }

  .username-textbox, .password-textbox {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .sign-in-container {
    width: 40vw;
    height: 85vh;
    padding: 10px;
  }

  .sign-in-button {
    bottom: 5%;
    left: 27%;
    width: 40%;
    font-size: 1.1rem;
  }

  .google-button {
    bottom: 7%;
    width: 25%;
  }
  
  .toggle-sign-up, 
  .forgot-password {
    top: 5%;
    font-size: 1rem;
  }

  .email-text,
  .password-text,
  .username-textbox,
  .password-textbox {
    bottom: 5%;
  }
}

@media (min-width: 1280px) {
  .sign-in-container {
    width: 35vw;
    height: 90vh;
    padding: 10px;
  }

  .sign-in-button {
    bottom: 5%;
    left: 30%;
    width: 35%;
    font-size: 1.2rem;
  }

  .google-button {
    bottom: 7%;
    width: 25%;
  }

  h3 {
    bottom: 5%;
    font-size: 2.2rem;
  }

  h4 {
    bottom: 5%;
    font-size: 1rem;
  }
  
  .toggle-sign-up, 
  .forgot-password {
    top: 9%;
    font-size: 1rem;
  }

  .email-text,
  .password-text {
    font-size: 1.3rem;
    bottom: 3%;
  }

  .username-textbox, .password-textbox {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .sign-in-container {
    width: 30vw;
    height: 75vh;
    padding: 10px;
  }

  .sign-in-button {
    bottom: 5%;
    left: 33%;
    width: 30%;
    font-size: 1.2rem;
  }

  .google-button {
    bottom: 7%;
    width: 20%;
  }

  .g-button {
    width: 20px;
    height: 20px;
  }

  h3 {
    bottom: 5%;
    font-size: 2.2rem;
  }

  h4 {
    bottom: 5%;
    font-size: 1rem;
  }
  
  .toggle-sign-up, 
  .forgot-password {
    top: 6%;
    font-size: 1rem;
  }

  .email-text,
  .password-text {
    font-size: 1.3rem;
    bottom: 3%;
  }

  .username-textbox, .password-textbox {
    font-size: 1rem;
    height: 50px;
  }
}

@media (min-width: 1920px) {
  .sign-in-container {
    width: 30vw;
    height: 75vh;
    padding: 10px;
  }

  .sign-in-button {
    top: 7%;
    left: 33%;
    width: 30%;
    font-size: 1.2rem;
  }

  .google-button {
    bottom: 0%;
    width: 20%;
  }

  .g-button {
    width: 20px;
    height: 20px;
  }

  h3 {
    bottom: 5%;
    font-size: 2.2rem;
  }

  h4 {
    top: 1%;
    font-size: 1rem;
  }
  
  .toggle-sign-up, 
  .forgot-password {
    top: 10%;
    font-size: 1rem;
  }

  .email-text,
  .password-text {
    font-size: 1.3rem;
  }

  .username-textbox, .password-textbox {
    font-size: 1rem;
    height: 50px;
  }
}
