.progress-bar {
  position: relative;
  top: 0;
  left: 7%;
  width: 85%;
  height: 4%;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.progress-bar-fill.animating {
  transition: none;
}

.progress-bar-fill.animating {
  transition: width 0.5s ease, background-color 0.5s ease;
}

@media (min-width: 768px) {
  .progress-bar {
    top: 0;
    left: 30%;
    width: 40%;
    height: 4%;
  }
  
  .progress-bar-fill {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .progress-bar {
    top: 0%;
    left: 35%;
    width: 30%;
    height: 4%;
  }
  
  .progress-bar-fill {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .progress-bar {
    top: 0%;
    left: 35%;
    width: 30%;
    height: 4%;
  }
  
  .progress-bar-fill {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .progress-bar-fill {
    font-size: 1.5rem;
  }
}

@media (min-width: 1920px) {
  .progress-bar {
    top: 0%;
    left: 35%;
    width: 30%;
    height: 4%;
  }
  
  .progress-bar-fill {
    font-size: 1.7rem;
  }
}
