.main-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color);
  border-radius: 15px;
  width: 84%;
  height: 30%;
  z-index: 998;
  animation: fadeInBackground 0.5s forwards;
}

.main-container.fade-in {
  animation: fadeOutBackground 0.5s forwards;
}

.sort-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: var(--border);
  border-radius: 20px;
  width: 85%;
  height: 50%;
  bottom: 10%;
}

.sort-container button {
  animation: slideInRight 0.5s forwards;
  opacity: 0;
  transition: transform 0.3s ease
}

.sort-container button:nth-child(1) {
  animation-delay: 0.1s;
}

.sort-container button:nth-child(2) {
  animation-delay: 0.2s;
}

.sort-container button:nth-child(3) {
  animation-delay: 0.3s;
}

.sort-container img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 12px;
  width: 60px;
  height: 60px;
}

.sort-container img.completed-active {
  background-color: var(--completed-color);
}

.sort-header {
  position: relative;
  bottom: 5%;
  right: 25%;
  color: var(--secondary-color);
}

.sort-header.completed-active {
  color: var(--completed-color);
}

.sort-button {
  position: relative;
  bottom: 5%;
  right: 0%;
  font-size: 1.5rem;
  background-color: var(--secondary-color);
  width: 130px;
  height: 60px;
  border-radius: 20px;
  color: var(--primary-color);
  font-weight: 600;
}

.sort-button.sort-button.completed-active {
  background-color: var(--completed-color);
}


.back-sort-button {
  position: absolute;
  bottom: 85%;
  left: 87%;
  color: var(--close-button);
  font-size: 1.5rem;
  font-weight: 600;
}

.sort-button:hover, .back-sort-button:hover {
  transform: scale(1.2);
}

.sort-container img {
  transition: transform 0.3s ease;
}

.sort-container img:hover,
.sort-container img:active,
.sort-container img.active {
  transform: scale(1.2);
}

@media (min-width: 320px) {
  .main-container {
    width: 100%;
    height: 30%;
    bottom: 40%;
  }

  .sort-header {
    top: 1%;
  }
}

@media (min-width: 375px) {
  .main-container {
    width: 95%;
    height: 35%;
  }

  .sort-container {
    height: 40%;
  }

  .sort-header {
    top: 0%;
    right: 27%;
  }
}

@media (min-width: 480px) {
  .main-container {
    width: 75%;
    height: 35%;
  }

  .sort-header {
    top: 0%;
  }
}

@media (min-width: 768px) {
  .main-container {
    width: 95%;
    height: 30%;
    left: 55%;
  }

  .sort-header {
    top: 0%;
  }
}

@media (min-width: 1024px) {
  .main-container {
    width: 90%;
    height: 40%;
    top: 30%;
    left: 100%;
  }

  .sort-header {
    top: 1%;
  }
  
  .back-sort-button {
    bottom: 80%;
    left: 87%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .main-container {
    width: 80%;
    height: 40%;
    left: 110%;
  }

  .sort-header {
    top: 1%;
    right: 23%;
  }
}

@media (min-width: 1440px) {
  .main-container {
    width: 70%;
    height: 35%;
    left: 110%;
  }

  .sort-header {
    top: 1%;
    right: 23%;
  }
}

@media (min-width: 1920px) {
  .main-container {
    width: 65%;
    height: 30%;
    left: 117%;
  }

  .sort-header {
    top: 1%;
    right: 23%;
    font-size: 2.8rem;
  }

  .sort-container img {
    width: 75px;
    height: 75px;
  }
}
