.task-list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--secondary-color);
  margin: 10px;
  padding: 0;
  width: 100%;
  height: 140px;
  border-radius: 12px;
  opacity: 0;
  transform: translateX(100%);
  animation: slideInRight 1s forwards;
}

.task-list.green-bg {
  background-color: var(--completed-color);
}

.task-list.slide-out {
  animation: slideOutRight 1s forwards;
}

.task-list:nth-child(1) {
  animation-delay: 0.1s;
}

.task-list:nth-child(2) {
  animation-delay: 0.2s;
}

.task-list:nth-child(3) {
  animation-delay: 0.3s;
}

.task-list:nth-child(4) {
  animation-delay: 0.4s;
}

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 4px;
  bottom: 4%;
  transition: transform 0.3s ease, color 0.3s ease;
}
  
.text,
.description,
.priority {
  margin: 5px 0;
  color: var(--primary-color);
}
  
.text,
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  
.text {
  max-width: 12ch;
}
  
.description {
  max-width: 18ch;
}
  
.function-button {
  left: 12px;
}
  
.completed-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.completed-button.clicked {
  background-color: var(--primary-color);
}

.completed-button:hover {
  transform: scale(1.2);
  background-color: var(--primary-color);
}

.delete-button {
  position: relative;
  right: 5%;
  transition: transform 0.3s ease, color 0.3s ease;
}

.delete-button:hover {
  transform: scale(1.2);
}
  
.delete-button,
.completed-button,
.move-button {
  font-size: 1.7em;
  background-color: transparent;
  cursor: pointer;
}
  
.completed-button,
.delete-button {
  margin: 12px;
}
  
.move-group {
  position: relative;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: transform 0.3s ease;
}

.move-button:hover {
  transform: rotate(10deg) scale(1.2);
}
  
.completed-button:hover,
.delete-button:hover,
.move-button:hover {
  transform: scale(1.25);
}

@media (min-width: 768px) {
  .task-list {
    width: 100%;
    height: 140px;
  }
  
  .task {
    bottom: 4%;
  }

  .text {
    max-width: 9ch;
  }
    
  .description {
    max-width: 15ch;
  }
    
    
  .completed-button {
    width: 30px;
    height: 30px;
  }

  .delete-button {
    right: 5%;
  }
  
  .delete-button,
  .completed-button,
  .move-button {
    font-size: 1.7em;
  }
}

@media (min-width: 1024px) {
  .task-list {
    width: 100%;
    height: 120px;
  }

  .task,
  .description {
    font-size: 0.9rem;
  }

  .text {
    max-width: 9ch;
  }
    
  .description {
    max-width: 12ch;
  }

  .priority {
    font-size: 0.9rem;
  }
  
  .delete-button,
  .completed-button,
  .move-button {
    font-size: 1.5em;
  }
}

@media (min-width: 1280px) {
  .task-list {
    width: 100%;
    height: 140px;
  }
  
  .task {
    font-size: 1.1rem;
    bottom: 0%;
  }

  .text {
    max-width: 8ch;
  }
    
  .description {
    font-size: 1rem;
    max-width: 12ch;
  }

  .priority {
    font-size: 0.9rem;
  }

  .delete-button {
    font-size: 2rem;
  }
    
  .completed-button {
    margin-left: 15px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
  }

  .delete-button {
    right: 5%;
  }
  
  .completed-button,
  .move-button {
    font-size: 1.8em;
  }
    
  .move-group {
    right: 10px;
    gap: 40px
  }
}

@media (min-width: 1440px) {
  .task-list {
    width: 100%;
    height: 160px;
  }
  
  .task {
    font-size: 1.2rem;
    bottom: 2%;
  }

  .text {
    max-width: 8ch;
  }
    
  .description {
    font-size: 1.5rem;
    max-width: 12ch;
  }

  .priority {
    font-size: 1rem;
  }

  .delete-button {
    font-size: 2rem;
  }
    
  .completed-button {
    margin-left: 17px;
    margin-top: 20px;
    width: 35px;
    height: 35px;
  }

  .delete-button {
    left: 2%;
  }
  
  .completed-button,
  .move-button {
    font-size: 1.8em;
  }
}

@media (min-width: 1920px) {
  .task-list {
    width: 100%;
    height: 200px;
  }
  
  .task {
    font-size: 2rem;
    bottom: 8%;
  }

  .text {
    max-width: 10ch;
  }
    
  .description {
    font-size: 1.5rem;
    max-width: 20ch;
  }

  .priority {
    font-size: 1.3rem;
  }

  .delete-button {
    font-size: 3rem;
  }
    
  .completed-button {
    margin-left: 15px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
  }

  .delete-button {
    left: 2%;
  }
  
  .completed-button,
  .move-button {
    font-size: 2em;
  }
}
