.task-info-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--container-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 996;
  animation: fadeInBackground 0.3s ease-in-out;
}

.task-info-container.fade-out {
  animation: fadeOutBackground 0.3s ease-in-out;
}

.info-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: var(--close-button);
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.info-close-button:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.info-container {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: var(--border);
  border-radius: 20px;
  padding: 10px 20px;
  overflow: hidden;
  box-sizing: border-box;
  animation: fadeInBackground 0.3s ease-in-out;
}

.info-container.fade-out {
  animation: fadeOutBackground 0.3s ease-in-out;
}


.info-name,
.info-description,
.info-priority,
.info-status {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  margin: 0;
}

.info-name {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 15px;
  color: var(--secondary-color)
}

.info-description {
  height: 60vh;
  overflow-y: auto;
  box-sizing: border-box;
  margin-bottom: 15px;
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) var(--border-color);
}

.info-description::-webkit-scrollbar {
  width: 8px;
}

.info-description::-webkit-scrollbar-track {
  background: var(--border-color);
  border-radius: 20px;
}

.info-description::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  border-radius: 20px;
  border: 2px solid var(--border-color);
}

.info-description::-webkit-scrollbar-thumb:hover {
  background-color: var(--highlight-color);
}

.info-priority,
.info-status {
  font-size: 1rem;
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.info-list li {
  color: var(--tertiary-color);
}

.edit-task,
.delete-task {
  background-color: var(--secondary-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.edit-task:hover,
.delete-task:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.edit-task:focus,
.delete-task:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.edit-task img,
.delete-task img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.edit-task:hover img,
.delete-task:hover img {
  transform: rotate(15deg);
}

.button-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 25px;
  top: 90%;
  left: 0;
}

.info-container ul {
  list-style: none;
  padding: 0;
}

.info-container li {
  margin: 5px 0;
}

.info-container.completed-active {
  background-color: var(--completed-color);
}

.info-name.completed-active, 
.info-priority.completed-active, 
.info-status.completed-active, 
.info-description.completed-active {
  color: var(--completed-color);
}

.edit-task.completed-active,
.delete-task.completed-active {
  background-color: var(--completed-color);
}

@media (min-width: 375px) {
  .info-description {
    height: 55vh;
  }
}


@media (min-width: 480px) {
  .info-description {
    height: 65vh;
  }
}

@media (min-width: 768px) {
 .info-close-button {
  display: none;
 }

 .task-info-container {
  visibility: hidden;
  position: fixed;
}

 .info-container {
  position: fixed;
  visibility: visible;
  top: 11%;
  left: 55%;
  width: 40vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: var(--border);
  border-radius: 20px;
  background-color: var(--container-color);
  animation: fadeInContainer 0.8s ease-out, scaleUp 0.5s ease-in-out;
 }

 .info-description {
  height: 60vh;
 }

 .info-status,
 .info-priority {
  font-size: 1.05rem;
 }

 .info-name {
  font-size: 1.3rem;
 }
}

@media (min-width: 1024px) {
  .info-container {
    top: 15%;
    left: 40%;
    width: 55vw;
    height: 80vh;
    display: flex;
   }
  
   .info-description {
    height: 45vh;
   }
  
   .info-status,
   .info-priority {
    font-size: 1.1rem;
   }
  
   .info-name {
    font-size: 1.3rem;
   }

   .button-container {
    width: 100%;
    gap: 25px;
    top: 85%;
    left: 0;
  }
}

@media (min-width: 1280px) {
  .info-container {
    top: 13%;
    left: 40%;
    width: 57vw;
    height: 82vh;
    display: flex;
  }
  
  .info-description {
    height: 49vh;
  }
  
  .info-status,
  .info-priority {
    font-size: 1.2rem;
  }
  
  .info-name {
    font-size: 1.4rem;
  }

  .button-container {
    width: 100%;
    gap: 25px;
    top: 85%;
    left: 0;
  }

  .edit-task,
  .delete-task {
      width: 60px;
      height: 60px;
  }
}

@media (min-width: 1440px) {
  .info-container {
    top: 12%;
    left: 38%;
    width: 60vw;
    height: 82vh;
    display: flex;
  }
  
  .info-description {
    height: 50vh;
  }
  
  .info-status,
  .info-priority {
    font-size: 1.2rem;
  }
  
  .info-name {
    font-size: 1.4rem;
  }

  .button-container {
    width: 100%;
    gap: 25px;
    top: 85%;
    left: 0;
  }

  .edit-task,
  .delete-task {
      width: 65px;
      height: 65px;
  }
}

@media (min-width: 1920px) {
  .info-container {
    top: 10%;
    left: 38%;
    width: 60vw;
    height: 84vh;
    display: flex;
  }
  
  .info-description {
    height: 55vh;
    font-size: 1.2rem;
  }
  
  .info-status,
  .info-priority {
    font-size: 1.3rem;
  }
  
  .info-name {
    font-size: 1.5rem;
  }

  .button-container {
    width: 100%;
    gap: 25px;
    top: 85%;
    left: 0;
  }

  .edit-task,
  .delete-task {
      width: 80px;
      height: 80px;
  }
}
