.list-container {
  position: absolute;
  top: 11%;
  left: 5%;
  width: 90%;
  height: 78%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--close-button) rgba(255, 255, 255, 0.1);
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.list-container::-webkit-scrollbar {
  width: 50px;
}

.list-container::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 50px;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.list-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}
