.task-list {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #FF6767;
    margin: 10px;
    padding: 0;
    width: 100%;
    height: 120px;
    border-radius: 12px;
    overflow: hidden;
}

.task {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 4px;
    bottom: 4%;
}

.text,
.description,
.priority {
    margin: 5px 0;
    color: #fff;
}

.text,
.description {
    margin: 5px 0;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    max-width: 12ch;
}

.description {
    max-width: 18ch;
}

.function-button {
    left: 12px;
}

.completed-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
}

.delete-button {
    position: relative;
    right: 5%;
}

.delete-button,
.completed-button,
.move-button {
    font-size: 1.7em;
    background-color: transparent;
    cursor: pointer;
}

.completed-button,
.delete-button {
    margin: 12px;
}

.move-group {
    position: relative;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.completed-button:hover,
.delete-button:hover,
.move-button:hover {
    transform: scale(1.25);
}

