:root {
    --primary-color: #fff;
    --secondary-color: #A14444;
    --background-color: #7D3333;
    --linear-color: #785B5B;
}

li {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 2em;
    padding: 15px;
    margin: 10px 0;
    border-radius: 20px;
    background-color: var(--secondary-color);
    box-shadow: 5px 6px #000;
    animation: slideInFromLeft 0.7s ease forwards;
    opacity: 0;
}

.completed-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
  }

.delete-button, .completed-button {
    font-size: 1em;
    background-color: transparent;
    cursor: pointer;
}

.completed-button:hover, .delete-button:hover {
    transform: scale(1.25);
}