:root {
  --primary-color: #fff;
  --secondary-color: #FF6767;
  --tertiary-color: #000;
  --border: 2px solid rgba(161, 163, 171, 0.6);
  --close-button: #585858;
  --background-opacity: rgba(57, 57, 57, 0.7);
  --container-color: #F9F9F9;
  --completed-color: #34ac3a;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Itim, sans-serif;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: rgba(233, 233, 233, 0.631);
  background-size: 100% 100%;
  background-attachment: fixed;
}

* {
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.background-opacity {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-opacity);
  z-index: 997;
  animation: fadeInBackground 0.5s forwards;
}

.background-opacity.fade-in {
  animation: fadeOutBackground 0.5s forwards;
}

.container {
  position: absolute;
  top: 11%;
  left: 7%;
  width: 85vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--border);
  border-radius: 20px;
  background-color: var(--container-color);
  animation: fadeInContainer 0.8s ease-out, scaleUp 0.5s ease-in-out;
}

.container-outline {
  position: relative;
  width: 85vw;
  height: 80vh;
}

.header {
  position: absolute;
  top: 1%;
  right: 10%;
  font-size: 2rem;
  color: var(--secondary-color);
  animation: slideInFromTop 1s ease-out;
}

.header.completed-active {
  color: var(--completed-color);
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 60px;
  animation: slideInFromLeft 0.5s ease-out;
}

.drawer.completed-active {
  background-color: var(--completed-color);
}

.drawer.slide-out {
  animation: slideOutFromLeft 0.5s ease-out forwards;
}

.to-do-drawer,
.help-drawer,
.about-drawer,
.logout-drawer {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 2.2rem;
  position: relative;
  padding: 0.5rem 2rem;
  overflow: hidden;
  transition: color 0.3s ease;
  opacity: 0;
  animation: slideInFromLeft 0.2s ease-out forwards;
}

.to-do-drawer.completed-active:hover,
.help-drawer.completed-active:hover,
.about-drawer.completed-active:hover,
.logout-drawer.completed-active:hover {
  color: var(--completed-color);
}

.to-do-drawer {
  animation-delay: 0.5s;
}

.help-drawer {
  animation-delay: 0.7s;
}

.about-drawer {
  animation-delay: 0.9s;
}

.logout-drawer {
  animation-delay: 1.1s;
}

.to-do-drawer::before,
.help-drawer::before,
.about-drawer::before,
.logout-drawer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--primary-color);
  z-index: -1;
  transition: width 0.3s ease, left 0.3s ease;
}

.to-do-drawer:hover,
.help-drawer:hover,
.about-drawer:hover,
.logout-drawer:hover {
  color: var(--secondary-color);
}

.to-do-drawer:hover::before,
.help-drawer:hover::before,
.about-drawer:hover::before,
.logout-drawer:hover::before {
  left: 0;
  width: 100%;
}


.drawer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.drawer-header {
  position: relative;
  top: 30%;
  left: 12%;
}

.close-button {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
  padding: 0.5rem 2rem;
  overflow: hidden;
  bottom: 50%;
  left: 7%;
  transition: transform 0.2s ease-out;
}

.close-button:hover {
  transform: scale(1.1);
  color: var(--close-button);
}


.burger-button {
  font-size: 40px;
  background: none;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  position: absolute;
  font-weight: 2000;
  top: 20px;
  left: 20px;
  z-index: 1;
  animation: pulse 1s infinite;
}

.burger-button:hover {
  color: var(--close-button);
}

.burger-button.completed-active {
  color: var(--completed-color);
}

.sort-add-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  top: 82%;
  animation: bounceIn 1s ease-out;
}

.add-task {
  font-size: 4rem;
  background-color: var(--secondary-color);
  width: 55px;
  height: 55px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
  padding-bottom: 17px;
  transition: transform 0.2s ease-out;
}

.add-task:hover {
  transform: scale(1.05) rotate(15deg);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.add-task.completed-active {
  background-color: var(--completed-color);
}

.filter-task {
  background-color: var(--secondary-color);
  width: 55px;
  height: 55px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-out, box-shadow 0.3s ease;
}

.filter-task:hover {
  transform: scale(1.05) rotate(15deg);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.filter-task.completed-active {
  background-color: var(--completed-color);
}

.filter-task img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.filter-task-image {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.filter-task-image.active {
  opacity: 1;
}

.task-list {
  animation: fadeIn 0.5s ease;
}


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-120%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutFromLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutBackground {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideInContainer {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(-10%);
  }
  60% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media (min-width: 375px) {
  .drawer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 60px
  }

  .to-do-drawer,
  .help-drawer,
  .about-drawer,
  .logout-drawer {
    font-size: 2.2rem;
  }

  .drawer-container {
    font-size: 1.8rem;
  }

  .drawer-header {
    top: 30%;
    left: 15%;
  }

  .close-button {
    font-size: 1.5rem;
    bottom: 45%;
    left: 8%;
  }

  .sort-add-container {
    gap: 30px;
    top: 82%;
  }
}

@media (min-width: 480px) {
  .drawer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 70px;
  }

  .to-do-drawer,
  .help-drawer,
  .about-drawer,
  .logout-drawer {
    font-size: 2.2rem;
  }

  .drawer-container {
    font-size: 1.8rem;
  }

  .drawer-header {
    top: 30%;
    left: 22%;
  }

  .close-button {
    font-size: 1.5rem;
    bottom: 45%;
    left: 8%;
  }

  .burger-button {
    font-size: 40px;
    top: 20px;
    left: 25px;
  }

  .sort-add-container {
    gap: 30px;
    top: 82%;
  }
}

@media (min-width: 768px) {
  .container {
    top: 11%;
    left: 11%;
    width: 40vw;
    height: 85vh;
  }

  .to-do-drawer,
  .help-drawer,
  .about-drawer,
  .logout-drawer {
    font-size: 2.2rem;
  }

  .drawer {
    width: 30%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .drawer-container {
    font-size: 2rem
    
  }

  .drawer-header {
    top: 30%;
    left: 33%;
  }

  .close-button {
    font-size: 1.8rem;
    bottom: 45%;
    left: 5%;
  }

  .burger-button {
    font-size: 40px;
    top: 20px;
    left: 43px;
  }

  .sort-add-container {
    top: 83%;
  }
}

@media (min-width: 1024px) {
  .container {
    top: 5%;
    left: 7%;
    width: 30vw;
    height: 90vh;
  }
  
  .drawer {
    gap: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .to-do-drawer,
  .help-drawer,
  .about-drawer,
  .logout-drawer {
    font-size: 2.5rem;
    bottom: 5%;
  }

  .drawer-container {
    font-size: 2rem;
  }

  .drawer-header {
    top: 10%;
    left: 35%;
  }

  .close-button {
    font-size: 1.8rem;
    bottom: 45%;
    left: 4%;
  }

  .burger-button {
    font-size: 40px;
    top: 20px;
    left: 20px;
  }

  .sort-add-container {
    top: 83%;
  }
}

@media (min-width: 1280px) {
  .container {
    top: 4%;
    left: 7%;
    width: 30vw;
    height: 90vh;
  }

  .drawer {
    gap: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .to-do-drawer,
  .help-drawer,
  .about-drawer,
  .logout-drawer {
    bottom: 5%;
    font-size: 2.5rem;
  }

  .drawer-container {
    font-size: 2rem;
  }

  .drawer-header {
    top: 10%;
    left: 39%;
  }

  .close-button {
    font-size: 1.8rem;
    bottom: 45%;
    left: 3%;
  }

  .burger-button {
    font-size: 50px;
    top: 20px;
    left: 20px;
  }

  .header {
    font-size: 2.5rem;
    bottom: 5%;
    right: 3%;
  }

  .add-task {
    font-size: 5rem;
    width: 60px;
    height: 60px;
    padding-bottom: 23px;
  }
  
  .filter-task {
    width: 60px;
    height: 60px;
  }
  
  .filter-task img {
    width: 80px;
    height: 80px;
  }

  .sort-add-container {
    top: 83%;
  }
}

@media (min-width: 1440px) {
  .container {
    top: 4%;
    left: 7%;
    width: 30vw;
    height: 90vh;
  }

  .drawer {
    gap: 80px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .to-do-drawer,
  .help-drawer,
  .about-drawer,
  .logout-drawer {
    bottom: 5%;
    font-size: 3rem;
  }

  .drawer-container {
    font-size: 2.5rem;
  }

  .drawer-header {
    top: 10%;
    left: 38%;
  }

  .close-button {
    font-size: 1.8rem;
    bottom: 43%;
    left: 2%;
  }

  .burger-button {
    font-size: 60px;
    top: 20px;
    left: 20px;
  }

  .add-task {
    font-size: 5rem;
    width: 65px;
    height: 65px;
    padding-bottom: 23px;
  }
  
  .filter-task {
    width: 65px;
    height: 65px;
  }
  
  .filter-task img {
    width: 80px;
    height: 80px;
  }

  .sort-add-container {
    top: 84%;
  }
}

@media (min-width: 1920px) {
  .container {
    top: 4%;
    left: 6%;
    width: 30vw;
    height: 90vh;
  }

  .drawer {
    gap: 80px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .to-do-drawer,
  .help-drawer,
  .about-drawer,
  .logout-drawer {
    bottom: 10%;
    font-size: 3.5rem;
  }

  .drawer-container {
    font-size: 3rem;
  }

  .drawer-header {
    top: 0%;
    left: 39%;
  }

  .close-button {
    font-size: 2.5rem;
    bottom: 43%;
    left: 2%;
  }

  .burger-button {
    font-size: 60px;
    top: 20px;
    left: 20px;
  }

  
  .add-task {
    font-size: 5rem;
    width: 80px;
    height: 80px;
    padding-bottom: 23px;
  }
  
  .filter-task {
    width: 80px;
    height: 80px;
  }
  
  .filter-task img {
    width: 90px;
    height: 90px;
  }

  .sort-add-container {
    top: 83%;
  }
}
