:root {
  --primary-color: #fff;
  --secondary-color: #A14444;
  --background-color: #7D3333;
  --linear-color: #785B5B;
}

html, body {
  min-height: 100vh;
  margin: 0;
  font-family: Itim, sans-serif;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: linear-gradient(var(--background-color), var(--linear-color));
  background-size: 100% 100%;
  background-attachment: fixed;
}

* {
  font-family: inherit;
  color: inherit;
  box-sizing: border-box;
}

/* 320px-480px */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-outline {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 70%;
  padding: 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid var(--primary-color);
  box-shadow: 6px 6px #000;
  animation: slideInFromLeft 0.7s ease forwards;
  opacity: 0;
}

h1 {
  position: absolute;
  top: 10%;
  font-size: 1.5rem;
  padding: 12px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  border: 3px solid var(--primary-color);
  box-shadow: 5px 6px #000;
  z-index: 1;
  animation: slideInFromLeft 1s ease forwards;
  opacity: 0;
}

button, input {
  border: none;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

input:hover {
  transform: scale(1.02);
}

.add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 82%;
  font-size: 4.5rem;
  padding-bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #DF6B6B;
  border: 2px solid var(--primary-color);
  box-shadow: 3px 3px #000;
  cursor: pointer;
}

input::placeholder {
  color: var(--primary-color);
}

.logout-button {
  position: absolute;
  top: 2%;
  right: 4%;
  padding: 10px 20px;
  background-color: #f443365c;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.logout-button:focus {
  outline: none;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .container-outline {
    top: 17%;
    width: 75%;
    height: 70%;
    padding: 12px;
  }
  
  h1 {
    top: 10%;
    font-size: 2rem;
    padding: 15px;
  }
  
  .add-task {
    top: 81%;
    font-size: 5rem;
    padding-bottom: 24px;
    width: 60px;
    height: 60px;
  }

  .logout-button {
    font-size: 1.1rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .container-outline {
    top: 17%;
    width: 70%;
    height: 70%;
    padding: 12px;
  }
  
  h1 {
    top: 10%;
    font-size: 2rem;
    padding: 15px;
  }
  
  .add-task {
    top: 80%;
    font-size: 5rem;
    padding-bottom: 24px;
    width: 60px;
    height: 60px;
  }

  .logout-button {
    font-size: 1.3rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-outline {
    top: 14%;
    width: 50%;
    height: 75%;
    padding: 12px;
  }
  
  h1 {
    top: 5%;
    font-size: 2.5rem;
    padding: 15px;
  }
  
  .add-task {
    top: 81%;
    font-size: 5rem;
    padding-bottom: 24px;
    width: 60px;
    height: 60px;
  }

  .logout-button {
    font-size: 1.4rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .container-outline {
    top: 14%;
    width: 40%;
    height: 75%;
    padding: 12px;
  }
  
  h1 {
    top: 4%;
    font-size: 2.8rem;
    padding: 15px;
  }
  
  .add-task {
    top: 79%;
    font-size: 7rem;
    padding-bottom: 30px;
    width: 80px;
    height: 80px;
  }

  .logout-button {
    top: 4%;
    font-size: 1.6rem;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .container-outline {
    top: 14%;
    width: 35%;
    height: 75%;
    padding: 12px;
  }
  
  h1 {
    top: 5%;
    font-size: 2.5rem;
    padding: 15px;
  }
  
  .add-task {
    top: 81%;
    font-size: 5rem;
    padding-bottom: 24px;
    width: 60px;
    height: 60px;
  }

  .logout-button {
    top: 4%;
    right: 2%;
    font-size: 1.6rem;
  }
}

@media (min-width: 1441px) {
  .container-outline {
    top: 12%;
    width: 30%;
    height: 80%;
    padding: 12px;
  }
  
  h1 {
    top: 4%;
    font-size: 2.5rem;
    padding: 15px;
  }
  
  .add-task {
    top: 79%;
    font-size: 7rem;
    padding-bottom: 30px;
    width: 80px;
    height: 80px;
  }

  .logout-button {
    right: 2%;
    font-size: 1.6rem;
  }
}